---
export const prerender = false;

import MainLayout from "../../layouts/MainLayout.astro";

const { slug } = Astro.params;
let berita = null;

try {
  const res = await fetch(
    `${import.meta.env.PUBLIC_API_URL}/api/v1/posts/${slug}`
  );
  berita = await res.json();
} catch (e) {
  console.error("Fetch error:", e);
}
---

<MainLayout title={berita?.title || "Detail Berita"}>
  <article>
    <h1>{berita?.title}</h1>
    <div innerHTML={berita?.content}></div>
  </article>
</MainLayout>
