---
import os from "os";

const networks = os.networkInterfaces();
---

<!doctype html>
<html>
<head>
  <title>Local IP Config</title>
</head>
<body>
  <h1>IP CONFIG (LOCAL)</h1>

  <pre style="background:#111;color:#0f0;padding:20px;border-radius:10px">
{JSON.stringify(networks, null, 2)}
  </pre>
</body>
</html>
